<div class="" ng>
  	<div class="">
	  	<ul class="nav cu-font cu-color">
	  		<li><span class="cu-label">Account Type</span><span>{{account.accounttype}}</span></li>
			<li><span class="cu-label">Balance GH&#162;</span><span>{{account.accountbalance}}</span></li>
	  	</ul>
  	</div>
	
	<div class="">
		<p class="cu-font cu-bold">Account Summary</p>
		<div class="well">
			<table class="table table-striped table-hover table-bordered cu-color">
				<thead>
					<tr>
						<th>Deposite</th>
						<th class="cu-align-right"><span>Withdraw</span></th>
					</tr>
				</thead>
				
				<tbody>
					<tr>
						
					</tr>
					<tr>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td>Balance</td>
						<td>&#162; {{account.accountbalance}}</td>
					</tr>
				</tbody>
			</table
		</div>
		
	</div>
	
	<div class="">
		<p class="cu-font cu-bold">Loan Summary</p>
		<div class="well">
			<table class="table table-striped table-hover table-bordered cu-color">
				<thead>
					<tr>
						<th>Full Name</th>
						<th>Loan Amount</th>
						<th>Loan Period</th>
						<th>Initial Payment Date</th>
						<th></th>
					</tr>
				</thead>
				
				<tbody>
					<tr ng-repeat="loan in loans">
						<td>{{ loan.firstname + " " +loan.lastname }}</td>
						<td>{{ loan.loanamount }}</td>
						<td>{{ loan.loanperiod }}</td>
						<td>{{ loan.firstpaymentdate | date:'mediumDate' }}</td>
						<td><a href="#/loan/{{loan.loanid}}"><i class="icon-circle-arrow-right"></i></a></td>
					</tr>
				</tbody>
			</table
		</div>
		
	</div>
</div>
