<div class="">
	<ul class="unstyled">
		<li><span>Account Id :</span><span>{{account.id}}</span></li>
		<li><span>Account Password :</span><span>{{account.password}}</span></li>
		<li><span>Account Name :</span><span>{{account.firstName + ' ' + account.lastName}}</span></li>
		<li><span>Account Postal Box 1:</span><span>{{account.address1}}</span></li>
		<li><span>Account Postal Box 2:</span><span>{{account.address2}}</span></li>
		<li><span>Account Postal Box 2:</span><span>{{account.phone}}</span></li>
		<li><span>Account Postal Box 2:</span><span>{{account.email}}</span></li>
		<li><span>Account Next of Kin Full Name:</span><span>{{account.nextFullName}}</span></li>
		<li><span>Account Next of Kin Address:</span><span>{{account.nextAddress}}</span></li>
		<li><span>Account Next of Kin Phone:</span><span>{{account.nextPhone}}</span></li>
	</ul>
	
</div>